### Dask Array

In [157]:
import dask.array as da    

#using arange to create an array with values from 0 to 10
X = da.arange(11, chunks=5)
print(X.compute())

#to see size of each chunk
print(X.chunks)

[ 0  1  2  3  4  5  6  7  8  9 10]
((5, 5, 1),)

In [158]:
X

dask.array<arange, shape=(11,), dtype=int32, chunksize=(5,), chunktype=numpy.ndarray>

In [159]:
import numpy as np
import dask.array as da
x = np.arange(10)
y = da.from_array(x, chunks=5)
y.compute() #results in a dask array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [160]:
import numpy as np
import dask.array as da

x = np.arange(1000)  #arange is used to create array on values from 0 to 1000
%time x.mean()
y = da.from_array(x, chunks=(100))  #converting numpy array to dask array

%time y.mean().compute()  #computing mean of the array

CPU times: total: 0 ns
Wall time: 0 ns
CPU times: total: 203 ms
Wall time: 977 ms

499.5

### Dask Dataframe

In [161]:
import os
print(os.getcwd())

c:\Users\spurusho\Downloads\NLP\Dask

In [162]:
import os
print(os.path.exists("..\\Dask\\train_oSwQCTC\\train.csv"))

True

In [163]:
base_dir = "Dask"
sub_dir = "train_oSwQCTC"
file_name = "train.csv"

# Create the full path using os.path.join()
file_path = os.path.join('..', base_dir, sub_dir, file_name)

# Now use this path in your code
import pandas as pd
%time temp = pd.read_csv(file_path)

CPU times: total: 1.66 s
Wall time: 4.31 s

In [164]:
#reading the file using dask
import dask.dataframe as dd
%time df = dd.read_csv(file_path)

CPU times: total: 15.6 ms
Wall time: 12.1 ms

### Look as the time, mind blowing!!!

In [165]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [166]:
df.shape

(<dask_expr.expr.Scalar: expr=ReadCSV(16f2320).size() // 12, dtype=int32>, 12)

In [167]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [168]:
df['Gender'].value_counts().compute()

Gender
F    135809
M    414259
Name: count, dtype: int64[pyarrow]

In [169]:
df.groupby(df.Gender)['Purchase'].max().compute()

Gender
F    23959
M    23961
Name: Purchase, dtype: int64

In [170]:
df.isna().sum().compute()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [171]:
df['Product_ID'].unique().compute()

0       P00069042
1       P00248942
2       P00087842
3       P00085442
4       P00285442
          ...
3626    P00375436
3627    P00372445
3628    P00370293
3629    P00371644
3630    P00370853
Name: Product_ID, Length: 3631, dtype: string

In [172]:
df['Age'].unique().compute()

0     0-17
1      55+
2    26-35
3    46-50
4    51-55
5    36-45
6    18-25
Name: Age, dtype: string

In [173]:
df['Occupation'].unique().compute()

0     10
1     16
2     15
3      7
4     20
5      9
6      1
7     12
8     17
9      0
10     3
11     4
12    11
13     8
14    19
15     2
16    18
17     5
18    14
19    13
20     6
Name: Occupation, dtype: int64

In [174]:
df['City_Category'].unique().compute()

0    A
1    C
2    B
Name: City_Category, dtype: string

In [175]:
df['Stay_In_Current_City_Years'].unique().compute()

0     2
1    4+
2     3
3     1
4     0
Name: Stay_In_Current_City_Years, dtype: string

In [176]:
df['Marital_Status'].unique().compute()

0    0
1    1
Name: Marital_Status, dtype: int64

In [177]:
df['Product_Category_1'].unique().compute()

0      3
1      1
2     12
3      8
4      5
5      4
6      2
7      6
8     14
9     11
10    13
11    15
12     7
13    16
14    18
15    10
16    17
17     9
18    20
19    19
Name: Product_Category_1, dtype: int64

In [178]:
df['Product_Category_2'].unique().compute()

0      NaN
1      6.0
2     14.0
3      2.0
4      8.0
5     15.0
6     16.0
7     11.0
8      5.0
9      3.0
10     4.0
11    12.0
12     9.0
13    10.0
14    17.0
15    13.0
16     7.0
17    18.0
Name: Product_Category_2, dtype: float64

In [179]:
df['Product_Category_2'].unique().compute()

0      NaN
1      6.0
2     14.0
3      2.0
4      8.0
5     15.0
6     16.0
7     11.0
8      5.0
9      3.0
10     4.0
11    12.0
12     9.0
13    10.0
14    17.0
15    13.0
16     7.0
17    18.0
Name: Product_Category_2, dtype: float64

In [180]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [181]:
df['User_ID'][0].compute()

1000001

In [182]:
df[df['Product_ID'] == df['Product_ID'][0].compute()].compute()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
825,1000149,P00069042,M,26-35,1,B,2,1,3,NaN,NaN,10715
3314,1000541,P00069042,F,18-25,4,C,3,0,3,NaN,NaN,11037
4224,1000698,P00069042,M,18-25,4,A,1,0,3,NaN,NaN,8009
5864,1000951,P00069042,M,46-50,2,B,4+,1,3,NaN,NaN,13346
...,...,...,...,...,...,...,...,...,...,...,...,...
539484,1005061,P00069042,F,18-25,19,C,2,1,3,NaN,NaN,13483
540849,1005284,P00069042,M,26-35,16,C,1,0,3,NaN,NaN,10895
543419,1005667,P00069042,M,36-45,7,B,1,1,3,NaN,NaN,11047
544454,1005812,P00069042,F,26-35,7,A,1,1,3,NaN,NaN,13557
545219,1005938,P00069042,M,26-35,1,C,1,1,3,NaN,NaN,13241

In [183]:
df[['Product_Category_1','Product_Category_2', 'Product_Category_3']].compute()

        Product_Category_1  Product_Category_2  Product_Category_3
0                        3                 NaN                 NaN
1                        1                 6.0                14.0
2                       12                 NaN                 NaN
3                       12                14.0                 NaN
4                        8                 NaN                 NaN
...                    ...                 ...                 ...
550063                  20                 NaN                 NaN
550064                  20                 NaN                 NaN
550065                  20                 NaN                 NaN
550066                  20                 NaN                 NaN
550067                  20                 NaN                 NaN

[550068 rows x 3 columns]

In [184]:
# Dropping unwanted columns
# df = df.drop(columns=['User_ID', 'Product_ID'], axis=1).compute()

In [185]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [186]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [187]:
len(df)

550068

In [188]:
# data = df

In [189]:
# df_combined = df[['Product_Category_1', 'Product_Category_2', 'Product_Category_3']].fillna(0).astype(int)

In [190]:
# # Step 2: Use pd.get_dummies() to perform one-hot encoding
# # This applies one-hot encoding to each column separately
# df_one_hot = pd.get_dummies(df_combined, columns=['Product_Category_1', 'Product_Category_2', 'Product_Category_3'], prefix='', prefix_sep='')

In [191]:
# # Step 3: Aggregate the columns to merge one-hot encoded features for the same category
# df_one_hot = df_one_hot.groupby(lambda x: x.split('_')[-1], axis=1).sum()

In [192]:
# # Step 4: Optional - Adjust column names to reflect that these represent categories
# df_one_hot.columns = [f'Category_{col}' for col in df_one_hot.columns]

In [193]:
# df_one_hot

### So,label encoder : Gender, 
### onehotencoder : Age, City_category, Stay_In_Current_City_Years

In [194]:
import pandas as pd
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [195]:
# Step 1: Custom Transformer to combine product categories
class ProductCategoryCombiner(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        # Combine the three product category columns, fill NaNs with 0 and convert to int
        df_combined = X[['Product_Category_1', 'Product_Category_2', 'Product_Category_3']].fillna(0).astype(int)
        return df_combined

# Step 2: Custom Transformer to perform one-hot encoding and aggregation
class OneHotAggregator(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        # Apply one-hot encoding
        df_one_hot = pd.get_dummies(X, columns=['Product_Category_1', 'Product_Category_2', 'Product_Category_3'], prefix='', prefix_sep='')
        # Aggregate the one-hot encoded columns
        df_one_hot = df_one_hot.groupby(lambda x: x.split('_')[-1], axis=1).sum()
        return df_one_hot
    
# # Step 3: Custom Transformer to drop unwanted columns
# class ColumnDropper(BaseEstimator, TransformerMixin):
#     def __init__(self, columns_to_drop):
#         self.columns_to_drop = columns_to_drop
    
#     def fit(self, X, y=None):
#         return self
    
#     def transform(self, X):
#         return X.drop(columns=self.columns_to_drop, axis=1)

In [196]:
# Step 4: Define the product category pipeline
product_category_pipeline = Pipeline(steps=[
    # ('drop_columns', ColumnDropper(columns_to_drop=['User_ID', 'Product_ID'])),  # Drop unwanted columns
    ('combiner', ProductCategoryCombiner()),  # Combine product categories
    ('one_hot_aggregator', OneHotAggregator())  # Apply one-hot encoding and aggregate
])

In [197]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler
OE = OrdinalEncoder()
OHE = OneHotEncoder(drop = 'first')
SE = StandardScaler()

In [198]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [199]:
y = df['Purchase']

In [200]:
y = y.compute()

In [201]:
type(y)

pandas.core.series.Series

In [202]:
df = df.drop('Purchase', axis=1)

In [203]:
data = df

In [204]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN

In [205]:
df = df.compute() #Converting the dask.dataframe to pandas.dataframe
df = df.drop(['User_ID', 'Product_ID'], axis= 1)
# train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=31)

In [206]:
X_train

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
392608,M,26-35,17,A,3,0,13,16.0,NaN
11317,M,26-35,0,C,1,1,5,NaN,NaN
325090,M,18-25,4,B,4+,0,11,13.0,16.0
849,F,26-35,20,A,1,1,5,14.0,NaN
494721,M,26-35,0,B,4+,0,2,4.0,15.0
...,...,...,...,...,...,...,...,...,...
230202,M,46-50,1,B,1,1,6,8.0,10.0
462487,M,26-35,7,B,4+,0,8,17.0,NaN
211554,M,36-45,7,B,1,0,1,5.0,NaN
289662,M,26-35,7,A,1,0,5,NaN,NaN
419856,M,26-35,0,C,1,0,8,NaN,NaN

In [207]:
# Step 3: Use ColumnTransformer to apply the pipeline to selected columns
preprocessor = ColumnTransformer(
    transformers=[
        ('gender_label_encoder', OE, ['Gender']),
        ('OneHotEcoder', OHE, ['City_Category', 'Stay_In_Current_City_Years', 'Age']),
        ('product_category', product_category_pipeline, ['Product_Category_1', 'Product_Category_2', 'Product_Category_3'])
    ],
    remainder='passthrough'
)

# Step 3: Define the full pipeline with StandardScaler applied to all columns after transformation
full_pipeline = Pipeline(steps=[
    # ('drop_columns', ColumnDropper(columns_to_drop=['User_ID', 'Product_ID'])),  # Drop unwanted columns
    ('preprocessor', preprocessor),  # Apply ColumnTransformer to preprocess specific columns
    ('scaler', SE)  # Apply StandardScaler to all numerical columns after preprocessing
])

In [208]:
# Step 4: Apply the ColumnTransformer
X_train = full_pipeline.fit_transform(X_train)

C:\Users\spurusho\AppData\Local\Temp\ipykernel_26280\1549169543.py:20: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_one_hot = df_one_hot.groupby(lambda x: x.split('_')[-1], axis=1).sum()

In [209]:
X_test = full_pipeline.transform(X_test)

C:\Users\spurusho\AppData\Local\Temp\ipykernel_26280\1549169543.py:20: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_one_hot = df_one_hot.groupby(lambda x: x.split('_')[-1], axis=1).sum()

In [210]:
#  Gender  = 1
# Age = 6
#Occupation = 1
#City_Category = 2
# Stay_In_Current_City_Years = 4
#Marital_Status = 1
# product categorical = 12

In [211]:
X_train[0, :]

array([ 0.57252378, -0.85126194, -0.6718338 , -0.73757482, -0.47693417,
        2.18734447, -0.42700934, -0.47022018,  1.2271347 , -0.50017824,
       -0.30118758, -0.27465423, -0.20146922, -0.01532204, -0.58547981,
       -0.13568394, -0.28083886, -0.18753746,  4.95767954, -0.39739665,
       -0.38889779,  2.32626528, -0.24293745, -0.14025074, -0.05384175,
       -0.39166566, -0.06807679, -0.2122157 , -0.27733856, -0.73622018,
       -0.28710016, -0.08917784, -0.72881125, -0.18239941,  1.36776869,
       -0.8336348 ])

In [212]:
type(y_train)

pandas.core.series.Series

In [224]:
y.shape

(550068,)

### Ok now we have the independent values and dependent values, now ready to train the model

In [225]:
# Lets store the full_pipeline
import pickle
with open('models\\Full_Preprocessing.pkl', 'wb') as f:
    pickle.dump(full_pipeline, f)
    f.close()

### Dask ML

In [226]:
# Let's store the full_pipeline
import pickle
with open('models\\Full_Preprocessing.pkl', 'rb') as f:
    full_pipeline = pickle.load(f)

In [217]:
# from dask.distributed import Client, LocalCluster
# cluster = LocalCluster()
# client = Client(cluster)

In [218]:
# cluster.dashboard_link

In [219]:
# cluster.get_logs()

In [220]:
# cluster.scale(10) # Sets the number of workers to 10

### Ok lets find the best parameters for the randomforest regressor

In [227]:
# import dask_ml.joblib
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
# from joblib import parallel_backend
# with parallel_backend('dask'):
#     # Create the parameter grid based on the results of random search 
param_grid = {
'max_depth': [4,5,6,7],
'max_features': [2, 3],
'n_estimators': [50, 100, 200],
'criterion': ['squared_error', 'absolute_error', 'friedman_mse', 'poisson']
}
    
# Your normal scikit-learn code here

model = RandomForestRegressor()

In [222]:
# type(y_train)

In [223]:
grid_search = GridSearchCV(estimator = model, param_grid = param_grid, cv = 3)
grid_search.fit(X_train, y_train)
grid_search.best_params_

# Since the dataset is huge gridsearchcv taking more time than 10 hours i stopped the training. I am going from neural network on google colab

In [ ]:
# Lets store the model
import pickle
with open('models\\RFR_model.pkl', 'wb') as f:
    pickle.dump(grid_search, f)
    f.close()